<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head') %>

<body>
    <div class="contenedor">


        <%- include('../partials/header') %>
        <div class="contacto">

            <div style="display: flex">
                <div  style="width: 750px; height: 200px; margin-left: 350px; margin-right: -400px; "><div class='reflection-container'>
                    <a class='reflection-grid-cell reflection-grid-cell-1' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-2' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-3' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-4' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-5' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-6' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-7' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-8' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-9' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-10' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-11' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-12' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-13' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-14' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-15' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-16' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-17' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-18' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-19' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-20' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-21' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-22' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-23' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-24' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-25' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-26' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-27' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-28' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-29' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-30' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-31' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-32' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-33' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-34' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-35' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-36' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-37' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-38' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-39' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-40' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-41' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-42' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-43' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-44' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-45' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-46' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-47' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-48' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-49' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-50' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-51' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-52' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-53' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-54' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-55' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-56' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-57' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-58' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-59' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-60' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-61' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-62' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-63' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-64' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-65' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-66' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-67' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-68' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-69' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-70' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-71' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-72' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-73' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-74' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-75' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-76' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-77' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-78' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-79' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-80' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-81' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-82' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-83' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-84' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-85' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-86' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-87' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-88' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-89' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-90' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-91' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-92' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-93' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-94' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-95' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-96' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-97' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-98' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-99' href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-100' href='#'></a>
                    <div class='reflection-content'></div>
                </div>
            </div>
                
                
                <p id="p-nosotros"> <span id="titulo-nosotros">Sobre Nosotros</span> <br> <br> Esta idea de negocio
                    consiste en una empresa de un videojuego llamado  
                    Ping Pong Idle el cual está destinado a un comunidad que juega los juegos
                     que tengan el género “idle”.
                   Esperamos que disfrutes jugando a Ping Pong Idle tanto como nosotros disfrutamos trabajando en él. <br> <br> Si tiene algún problema o si está interesado en unirse a nuestra comunidad cada vez mayor de fanáticos del tenis de mesa, siga el enlace en la sección de detalles adicionales y únase a nosotros en nuestra discordia.</p>
            </div>

            <div>
                <div class="container">
                    <div class="card">
                        <img src="./imagenes/globe_earth_128px.png" alt="" class="card__img">
            
                        <!-- <div class="card__content">  -->
                        <div class="card__data">
                            <h1 class="card__title">Misión</h1>
            
                            <p class="card__description">Nos dedicamos a crear las experiencias de entretenimiento más
                                satisfactorias de todos los tiempos. Buscamos satisfacer las demandas de
                                las diferentes personas, actualizando el juego muy a menudo. Promover
                                un buen trato de parte de nuestros empleados hacia los clientes.</p>
            
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="card">
                        <img src="./imagenes/eye_128px.png" alt="" class="card__img">
            
                        <!-- <div class="card__content">  -->
                        <div class="card__data">
                            <h1 class="card__title">Visión</h1>
            
                            <p class="card__description">Nuestro propósito es llegar a ser uno de las mejores juegos del
                                género “idle” del mundo satisfaciendo a nuestros jugadores ofreciéndoles
                                la mejor experiencia que tengan principalmente una mejor comodidad y
                                servicio.</p>
            
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="card">
                        <img src="./imagenes/handshake_128px.png" alt="" class="card__img">
            
                        <!-- <div class="card__content">  -->
                        <div class="card__data">
                            <h1 class="card__title">Valores</h1>
            
                            <p class="card__description">
                              
                                        • La experiencia del jugador es lo primero
                                        <br>
            
                                 
                                        • Atreverse a soñar
                                
                                        <br>
                                
                                        • Crecer juntos
                                        <br>
                                   
                                        • Aspirar a la excelencia
                                    
                                        <br>
                                        • Ambiciosos, pero humildes
                                    
            
            
                                </ul>
                            </p>
            
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- <table>
                    <tr>
                        <td style="padding-left: 200px;"><img src="./imagenes/globe_earth_128px.png" alt="">
                            <p id="titulo-mvv">Misión</p>
                        </td>
                        <td style="padding-left: 200px;"><img src="./imagenes/eye_128px.png" alt="">
                            <p id="titulo-mvv">Visión</p>
                        </td>
                        <td style="padding-left: 200px;"><img src="./imagenes/handshake_128px.png" alt="">
                            <p id="titulo-mvv">Valores</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 100px; width: 400px;text-align: justify;">Nos dedicamos a crear las experiencias de entretenimiento más
                            satisfactorias de todos los tiempos. Buscamos satisfacer las demandas de
                            las diferentes personas, actualizando el juego muy a menudo. Promover
                            un buen trato de parte de nuestros empleados hacia los clientes.</td>
                        <td style="padding-left: 100px; width: 400px;text-align: justify;">Nuestro propósito es llegar a ser uno de las mejores juegos del
                            género “idle” del mundo satisfaciendo a nuestros jugadores ofreciéndoles
                            la mejor experiencia que tengan principalmente una mejor comodidad y
                            servicio.</td>
                        <td style="padding-left: 100px; width: 400px; text-align: justify;"></td>
                    </tr>

                </table> -->
            </div>
        </div>
        <%- include('../partials/footer') %>

    </div>
</body>

</html>