<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head') %>

<body>
    <div class="contenedor">


        <%- include('../partials/header') %>
        <div class="contacto">

            <div style="display: flex">

                <img src="./imagenes/1.png" alt="" style="width: 750px; height: 500px; margin-left: 150px; ">
                <p id="p-nosotros"> <span id="titulo-nosotros">Sobre Nosotros</span> <br> <br> Esta idea de negocio
                    consiste en una empresa de un videojuego llamado <br>   
                    Ping Pong Idle el cual está destinado a un comunidad que juega los juegos
                    <br> que tengan el género “idle”.
                    <br> <br> <br> Esperamos que disfrutes jugando a Ping Pong Idle tanto como nosotros disfrutamos trabajando en él. Si tiene algún problema o si está interesado en unirse a nuestra comunidad cada vez mayor de fanáticos del tenis de mesa, siga el enlace en la sección de detalles adicionales y únase a nosotros en nuestra discordia.</p>
            </div>

            <div>
                <div class="container">
                    <div class="card">
                        <img src="./imagenes/globe_earth_128px.png" alt="" class="card__img">
            
                        <!-- <div class="card__content">  -->
                        <div class="card__data">
                            <h1 class="card__title">Misión</h1>
            
                            <p class="card__description">Nos dedicamos a crear las experiencias de entretenimiento más
                                satisfactorias de todos los tiempos. Buscamos satisfacer las demandas de
                                las diferentes personas, actualizando el juego muy a menudo. Promover
                                un buen trato de parte de nuestros empleados hacia los clientes.</p>
            
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="card">
                        <img src="./imagenes/eye_128px.png" alt="" class="card__img">
            
                        <!-- <div class="card__content">  -->
                        <div class="card__data">
                            <h1 class="card__title">Visión</h1>
            
                            <p class="card__description">Nuestro propósito es llegar a ser uno de las mejores juegos del
                                género “idle” del mundo satisfaciendo a nuestros jugadores ofreciéndoles
                                la mejor experiencia que tengan principalmente una mejor comodidad y
                                servicio.</p>
            
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="card">
                        <img src="./imagenes/handshake_128px.png" alt="" class="card__img">
            
                        <!-- <div class="card__content">  -->
                        <div class="card__data">
                            <h1 class="card__title">Valores</h1>
            
                            <p class="card__description">
                              
                                        • La experiencia del jugador es lo primero
                                        <br>
            
                                 
                                        • Atreverse a soñar
                                
                                        <br>
                                
                                        • Crecer juntos
                                        <br>
                                   
                                        • Aspirar a la excelencia
                                    
                                        <br>
                                        • Ambiciosos, pero humildes
                                    
            
            
                                </ul>
                            </p>
            
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- <table>
                    <tr>
                        <td style="padding-left: 200px;"><img src="./imagenes/globe_earth_128px.png" alt="">
                            <p id="titulo-mvv">Misión</p>
                        </td>
                        <td style="padding-left: 200px;"><img src="./imagenes/eye_128px.png" alt="">
                            <p id="titulo-mvv">Visión</p>
                        </td>
                        <td style="padding-left: 200px;"><img src="./imagenes/handshake_128px.png" alt="">
                            <p id="titulo-mvv">Valores</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 100px; width: 400px;text-align: justify;">Nos dedicamos a crear las experiencias de entretenimiento más
                            satisfactorias de todos los tiempos. Buscamos satisfacer las demandas de
                            las diferentes personas, actualizando el juego muy a menudo. Promover
                            un buen trato de parte de nuestros empleados hacia los clientes.</td>
                        <td style="padding-left: 100px; width: 400px;text-align: justify;">Nuestro propósito es llegar a ser uno de las mejores juegos del
                            género “idle” del mundo satisfaciendo a nuestros jugadores ofreciéndoles
                            la mejor experiencia que tengan principalmente una mejor comodidad y
                            servicio.</td>
                        <td style="padding-left: 100px; width: 400px; text-align: justify;"></td>
                    </tr>

                </table> -->
            </div>
        </div>
        <%- include('../partials/footer') %>

    </div>
</body>

</html>