    <!DOCTYPE html>
    <html lang="en">


    <%- include('./partials/head') %>

    <body>
        <div class="contenedor">

            <%- include('./partials/header') %>
            <div class="contacto">

                <div class="servicio-contenido">
                    <div class="servicio-content">
                        <div class="columna-servicioslogo"> <img src="/imagenes/light_240px.png" alt=""></div>
                        <div class="columna-servicios a">
                            <h2>Unico </h2>
                            <br>
                            <p>Somos los unicos con esta tematica de videojuego al mezclar el ping pong con juegos idle
                            </p>
                        </div>

                    </div>
                    <div class="servicio-content">
                        <div class="columna-servicioslogo"> <img src="/imagenes/list_48px.png" alt=""></div>
                        <div class="columna-servicios s">
                            <h2>Muchas Caracteristicas</h2>
                            <br>
                            <p>Muchas Caracteristicas las cuales te dejaran jugando por muchas horas de juego</p>
                        </div>

                    </div>

                    <div class="servicio-content">
                        <div class="columna-servicioslogo"> <img src="/imagenes/happy_64px.png" alt=""></div>
                        <div class="columna-servicios d">
                            <h2>Comunidad</h2>
                            <br>
                            <p>Puedes compartir cualquier experiencia en el juego o duda en nuestra maravillosa
                                comunidad
                            </p>
                        </div>

                    </div>
                    <div class="servicio-content">
                        <div class="columna-servicioslogo"> <img src="/imagenes/clock_240px.png" alt=""></div>
                        <div class="columna-servicios f">
                            <h2>+1500 Horas de Juego</h2>
                            <br>
                            <p>Este maravilloso juego cuenta con mas de 1500 oras de juego que te mantendra entretenido
                                cuando no tengas nada que hacer</p>
                        </div>

                    </div>
                    <div class="servicio-content">
                        <div class="columna-servicioslogo"> <img src="/imagenes/leaderboard_240px.png" alt=""></div>
                        <div class="columna-servicios g">
                            <h2>Rankings</h2>
                            <br>
                            <p>Tenemos un ranking el cual presenta los 10 mejores jugadores de todos los tiempos,
                                mensuales
                                y semanales </p>
                        </div>

                    </div>
                    <div class="servicio-content">
                        <div class="columna-servicioslogo"> <img src="/imagenes/bug_128px.png" alt=""></div>
                        <div class="columna-servicios h">
                            <h2>Correciones de Errores</h2>
                            <br>
                            <p>Tenemos un equipom dedicado a los errores para brindar la mejor experiencia posible</p>
                        </div>

                    </div>
                 

                </div>

                <center><video width="400"  controls style="margin-top: 50px;">
                        <source src="/imagenes/anuncio navideño.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video></center>
            </div>
            <%- include('./partials/footer') %>
        </div>
    </body>

    </html>