<link rel="stylesheet" href="./style.css">
<div class="inicio">
    
    <div class="navigation" style="z-index: 100;">
        <img src="./imagenes/logo.png" alt="" class="logo">
        <p> <a href="/inicio">Ping Pong Idle</a> </p>
        <ul>

            <li> <a href="/inicio" class="botonNavigation">
                    Inicio
                </a>
            </li>
            <li> <a href="/nosotros" class="botonNavigation">
                    Nosotros
                </a></li>
            <li> <a href="/caracteristicas" class="botonNavigation">
                    Caracteristicas
                </a></li>
            <div  class="dropdown">
                <li><a href="/contacto" class="botonNavigation">
                        Contacto
                    </a></li>
                <div class="dropdown-content">
                    <a href="#formulario">Formulario</a>
                    <a href="#mapa">Mapa</a>
                    
                </div>
            </div>

        </ul>

        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div>
    
    <!--Back Top-->
    <button onclick="topFunction()" id="myBtn" title="Ir arriba"><img src="/imagenes/upward_arrow_64px.png"
            alt=""></button>
    <!--Back Top-->
   
</div>